%ul.follow-list
	%li= social_link("GitHub", "https://github.com/sharktanklabs", "github")
	%li= social_link("Twitter", "https://twitter.com/sharktanklabs", "twitter")
	-#%li= social_link("LinkedIn", "/", "linkedin")
	%li= social_link("RSS", "/feed.xml", "rss")

